**/.git
**/.gitignore
**/.dockerignore
**/node_modules
**/npm-debug.log
**/dist
**/dist-ssr
**/.quasar
**/.cache
**/coverage
**/*.md
!README.md
**/.vscode
**/.idea
**/.DS_Store
**/Thumbs.db
**/*.log
**/yarn-error.log
**/pnpm-debug.log
**/.env.local
**/.env.*.local
**/test
**/__tests__
